h2.mt-3 Scorecard
.row
    .col-12
        table.table
            tr
                th(style='width: 50%') Metric
                th(style='width: 8.5%') Python
                th(style='width: 8.5%') R
                th(style='width: 33%') Rationale
            each score,index in data.technique.scores
                tr(data-toggle="collapse" data-target=".accordion"+index class="clickable")
                    td
                        span.toggable #{score.name} 
                        small.ml-2 (#{score.weight*100}%)
                    td #{score.total_python}
                    td #{score.total_r}
                    td
                        small #{score.total_rationale}
                each sub in score.subcategories
                    tr(class="collapse accordion"+index)       
                        td #{sub.name}
                        td #{sub.py}
                        td #{sub.r}
                        td 
                            small #{sub.rationale}
            tr
                th Total Score
                th #{data.technique.total_python}
                th #{data.technique.total_r}
                th
                    small #{data.technique.scores_explanation}