extends ../layout

block content
    script(
            src="/javascripts/chart.js"
        )
    div.container-fluid
        .row
            .col-12.col-lg-6
                canvas(id="comparison_chart")
            .col-12.col-lg-6
                h3 Comparison
                table.table.col-12
                    tr
                        th Metric
                        th Python
                        th R
                    each score in data.scores
                        tr
                            td 
                                a(href = score.url) #{score.name}
                            td #{score.total_python}
                            td #{score.total_r}
        .row.mt-3
            .col-12
                h3 Detailed View
                .d-flex.comparison
                    .comparison_detailed_view_metrics
                        table.table
                            tr
                                th Metric
                            tr
                                th.comparison_th_header_metric Programing Language
                            each score in data.techniques[0].scores
                                tr
                                    td #{score.name}
                    .comparison_detailed_view_techniques
                        table.table
                            tr
                                each technique in data.techniques
                                    th.comparison_th_header(colspan=3) #{technique.name}
 
                            tr
                                each technique in data.techniques
                                    th.w-15 Python
                                    th.w-05 R
                                    th.w-80 Rationale
                            each score,index in data.techniques[0].scores
                                tr
                                each technique in data.techniques
                                    td #{technique.scores[index].total_python}
                                    td #{technique.scores[index].total_r}
                                    td 
                                        small.d-block #{technique.scores[index].total_rationale}
        
        each score,index in data.techniques[0].scores
            .row
                .col-12
                    h3 #{score.name}
                    .d-flex.comparison
                        .comparison_detailed_view_metrics
                            table.table
                                tr
                                    th Metric
                                tr
                                    th.comparison_th_header_metric Programing Language
                                each subcategory in score.subcategories
                                    tr
                                        td #{subcategory.name}
                                tr
                                    th Total Score
                        .comparison_detailed_view_techniques
                            table.table
                                tr
                                    each technique in data.techniques
                                        th.comparison_th_header(colspan=3) #{technique.name}
    
                                tr
                                    each technique in data.techniques
                                        th.w-15 Python
                                        th.w-05 R
                                        th.w-80 Rationale
                                each subcategory,sub_index in score.subcategories
                                    tr
                                    each technique in data.techniques
                                        td #{technique.scores[index].subcategories[sub_index] ? technique.scores[index].subcategories[sub_index].py : "missing"}
                                        td #{technique.scores[index].subcategories[sub_index] ? technique.scores[index].subcategories[sub_index].r : "missing"}
                                        td 
                                            small.d-block #{technique.scores[index].subcategories[sub_index] ? technique.scores[index].subcategories[sub_index].rationale : "missing"}
                                tr
                                    each technique in data.techniques
                                        td #{technique.scores[index].total_python}
                                        td #{technique.scores[index].total_r}
                                        td 
                                            small.d-block #{technique.scores[index].total_rationale}
  
        .row.mt-3
            .col-12
                h3 Evaluation Rationale
                div(id="carouselExampleControls" class="carousel slide" data-ride="carousel")
                    div(class="p-3 carousel-inner")
                        div(class="carousel-item active")
                            div(class="h-100 w-100 rationale__wrapper")
                                h4.mb-3 Code Volume and Ease of Use
                                table.table.rationale
                                    tr
                                        th Metric
                                        th Score
                                        th Evolution Rationale
                                    tr
                                        td Code Volume
                                        td 0/1
                                        td 
                                            small
                                                | Description: Relative measurement of code volume <br/>
                                                | 0: This language took more lines to implement the program <br/>
                                                | 1: This language took fewer lines to implement the program <br/>				
                                    tr
                                        td Code Aesthetic
                                        td 0/2
                                        td 
                                            small
                                                | Description: A numeric representation of visual appeal <br/>
                                                | 0: Code groups are inseparable and cannot be run alone <br/>
                                                | 1: Code groups are separable and can be run alone <br/>
                                                | 2: Code groups contain easily identifiable headers and it is possible to jump quickly to each code block	 <br/>							
                                    tr
                                        td Code Clarity
                                        td 0/2
                                        td 
                                            small
                                                | Description: A numeric representation of visual clarity <br/>
                                                | 0: Uncommon strategies are used, requiring further analysis of code <br/>
                                                | 1: Code is conceptually easy to understand after reviewing the program <br/>
                                                | 2: Code can be understood via a quick glance	 <br/>							
                                    tr
                                        td Rating
                                        td 0/5
                                        td 
                        div(class="carousel-item")
                            div(class="h-100 w-100 rationale__wrapper")
                                h4.mb-3 Popularity & Library Availability	
                                table.table.rationale
                                    tr
                                        th Metric
                                        th Score
                                        th Evolution Rationale
                                    tr
                                        td Popularity
                                        td 0/1
                                        td 
                                            small
                                                | Description: Relative measurement of real-world use <br/>
                                                | 0: This language is used less often for this technique <br/>
                                                | 1: This language is used more often for this technique <br/>					
                                    tr
                                        td Library Quality
                                        td 0/2
                                        td 
                                            small
                                                | Description: Library ease of use evaluation <br/>
                                                | 0: This language does not contain libraries that were created for this technique <br/>
                                                | 1: This language has one library created for this technique <br/>
                                                | 2: This language has multiple libraries that make the technique simple <br/>											
                                    tr
                                        td Growth
                                        td 0/2
                                        td 
                                            small
                                                | Description: Relative measurement of real-world use <br/>
                                                | 0: This language is declining in popularity globally <br/>
                                                | 1: This language is growing in popularity globally <br/>
                                                | 2: This language exceeds 10% growth per year globally	 <br/>											
                                    tr
                                        td Rating
                                        td 0/5
                                        td 
                
                        div(class="carousel-item")
                            div(class="h-100 w-100 rationale__wrapper")
                                h4.mb-3 Execution Performance & Output	
                                table.table.rationale
                                    tr
                                        th Metric
                                        th Score
                                        th Evolution Rationale
                                    tr
                                        td Average Execution Time
                                        td 0/1
                                        td 
                                            small
                                                | Description: Relative measurement of code volume <br/>
                                                | 0: This language took more lines to implement the program <br/>
                                                | 1: This language took fewer lines to implement the program <br/>				
                                    tr
                                        td Output Quality & Effectiveness
                                        td 0/2
                                        td 
                                            small
                                                | Description: A numeric representation of visual appeal <br/>
                                                | 0: Code groups are inseparable and cannot be run alone <br/>
                                                | 1: Code groups are separable and can be run alone <br/>
                                                | 2: Code groups contain easily identifiable headers and it is possible to jump quickly to each code block	 <br/>							
                                    tr
                                        td Console Output Clarity
                                        td 0/2
                                        td 
                                            small
                                                | Description: A numeric representation of visual clarity <br/>
                                                | 0: Uncommon strategies are used, requiring further analysis of code <br/>
                                                | 1: Code is conceptually easy to understand after reviewing the program <br/>
                                                | 2: Code can be understood via a quick glance	 <br/>							
                                    tr
                                        td Rating
                                        td 0/5
                                        td 
                        div(class="carousel-item")
                            div(class="h-100 w-100 rationale__wrapper")
                                h4.mb-3 Scalability & Transferability	
                                table.table.rationale
                                    tr
                                        th Metric
                                        th Score
                                        th Evolution Rationale
                                    tr
                                        td Transferability
                                        td 0/1
                                        td 
                                            small
                                                | Description: Relative measurement of code volume <br/>
                                                | 0: This language took more lines to implement the program <br/>
                                                | 1: This language took fewer lines to implement the program	 <br/>			
                                    tr
                                        td Scalability
                                        td 0/2
                                        td 
                                            small
                                                | Description: A numeric representation of visual appeal <br/>
                                                | 0: Code groups are inseparable and cannot be run alone <br/>
                                                | 1: Code groups are separable and can be run alone <br/>
                                                | 2: Code groups contain easily identifiable headers and it is possible to jump quickly to each code block	 <br/>							
                                    tr
                                        td Function Customization
                                        td 0/2
                                        td 
                                            small
                                                | Description: A numeric representation of visual clarity <br/>
                                                | 0: Uncommon strategies are used, requiring further analysis of code <br/>
                                                | 1: Code is conceptually easy to understand after reviewing the program <br/>
                                                | 2: Code can be understood via a quick glance	 <br/>							
                                    tr
                                        td Rating
                                        td 0/5
                                        td 
                        div(class="carousel-item")
                            div(class="h-100 w-100 rationale__wrapper")
                                h4.mb-3 Training & Support
                                table.table.rationale
                                    tr
                                        th Metric
                                        th Score
                                        th Evolution Rationale
                                    tr
                                        td Ease of Learning
                                        td 0/1
                                        td 
                                            small
                                                | Description: Relative measurement of code volume <br/>
                                                | 0: This language took more lines to implement the program <br/>
                                                | 1: This language took fewer lines to implement the program	 <br/>			
                                    tr
                                        td Community Support
                                        td 0/2
                                        td 
                                            small
                                                | Description: A numeric representation of visual appeal <br/>
                                                | 0: Code groups are inseparable and cannot be run alone <br/>
                                                | 1: Code groups are separable and can be run alone <br/>
                                                | 2: Code groups contain easily identifiable headers and it is possible to jump quickly to each code block	 <br/>							
                                    tr
                                        td Time to Proficiency
                                        td 0/2
                                        td 
                                            small
                                                | Description: A numeric representation of visual clarity <br/>
                                                | 0: Uncommon strategies are used, requiring further analysis of code <br/>
                                                | 1: Code is conceptually easy to understand after reviewing the program <br/>
                                                | 2: Code can be understood via a quick glance	 <br/>							
                                    tr
                                        td Rating
                                        td 0/5
                                        td 
                    a(class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev")
                        span(class="carousel-control-prev-icon" aria-hidden="true")
                            span(class="sr-only") Previous
                    a(class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next")
                        span(class="carousel-control-next-icon" aria-hidden="true")
                            span(class="sr-only") Next