extends ../layout

block content
    .container
        .row
            .col-12
                h3 Our Team
                p We are a team of six Management Information Systems majors at Temple University. Get to know us below!
        .row
            .col-12.col-md-6.col-lg-4.my-3.p-3.d-flex.justify-content-center.align-items-center
                .shadow-sm.profile-card
                    img.d-block.mx-auto.mb-2.rounded-circle(src='/images//team/nathan.jpg'
                        width='200')
                    h4 Nathan Pham
                    small Business Analyst | MIS 2019
                    .mail
                        i(class='fas fa-envelope')
                        a(href='mailto:nathan.pham@temple.edu') nathan.pham@temple.edu
            .col-12.col-md-6.col-lg-4.my-3.p-3.d-flex.justify-content-center.align-items-center
                .shadow-sm.profile-card
                    img.d-block.mx-auto.mb-2.rounded-circle(src='/images//team/megan.jpg'
                        width='200')
                    h4 Megan Rolfes
                    small Business Analyst | MIS 2019
                    .mail
                        i(class='fas fa-envelope')
                        a(href='mailto:megan.rolfes@temple.edu') megan.rolfes@temple.edu
            .col-12.col-md-6.col-lg-4.my-3.p-3.d-flex.justify-content-center.align-items-center
                .shadow-sm.profile-card
                    img.d-block.mx-auto.mb-2.rounded-circle(src='/images//team/sam.jpg'
                        width='200')
                    h4 Sam Loch
                    small Business Analyst | MIS 2019
                    .mail
                        i(class='fas fa-envelope')
                        a(href='mailto:sam.loch@temple.edu') sam.loch@temple.edu
            .col-12.col-md-6.col-lg-4.my-3.p-3.d-flex.justify-content-center.align-items-center
                .shadow-sm.profile-card
                    img.d-block.mx-auto.mb-2.rounded-circle(src='/images//team/tyler.png'
                        width='200')
                    h4 Tyler Ascione
                    small Business Analyst | MIS & Finance 2019
                    .mail
                        i(class='fas fa-envelope')
                        a(href='mailto:tyler.ascione@temple.edu') tyler.ascione@temple.edu
            .col-12.col-md-6.col-lg-4.my-3.p-3.d-flex.justify-content-center.align-items-center
                .shadow-sm.profile-card
                    img.d-block.mx-auto.mb-2.rounded-circle(src='/images//team/chirag.jpg'
                        width='200')
                    h4 Chirag Chandna
                    small Business Analyst | MIS 2019
                    .mail
                        i(class='fas fa-envelope')
                        a(href='mailto:chirag.chandna@temple.edu') chriag.chandna@temple.edu
            .col-12.col-md-6.col-lg-4.my-3.p-3.d-flex.justify-content-center.align-items-center
                .shadow-sm.profile-card
                    img.d-block.mx-auto.mb-2.rounded-circle(src='/images//team/robin.jpg'
                        width='200')
                    h4 Robin Goetz
                    small Business Analyst | MIS 2019
                    .mail
                        i(class='fas fa-envelope')
                        a(href='mailto:robin.goetz@temple.edu') robin.goetz@temple.edu
                    